:root {
    --stratos: #1a202c;
    --regalblue: #02457a;
    /*rgba(2, 69, 122, 0.75);*/
    --bandiblue: #018abe;
    /*rgba(1, 138, 190, 0.75);*/
    --morningglory: #97cadb;
    --boticelli: #d6e8ee;
}

@font-face {
    font-family: titles_font;
    src: url(../font/static/Quicksand-Medium.ttf);
}

@font-face {
    font-family: body_font;
    src: url(../font/static/Quicksand-Regular.ttf);
}

body {
    font-family: body_font;
    color: var(--regalblue);
    background-color: var(--boticelli);
    position: relative;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: titles_font;
}

.ticks {
    list-style: none;
}

.ticks li:before {
    content: '✓ ';
}

.scrollspy-example {
    position: relative;
    overflow: hidden;
}

.offcanvas-trbl {
    background-color: rgba(2, 69, 122, 0.5);
    color: var(--boticelli);
}

.offcanvas-trbl code {
    color: rgb(255, 255, 50);
    -webkit-transition: background-color 1s ease, color 1s ease;
    -moz-transition: background-color 1s ease, color 1s ease;
    -o-transition: background-color 1s ease, color 1s ease;
    transition: background-color 1s ease, color 1s ease;
}

.credits {
    background-color: var(--regalblue);
    color: var(--morningglory);
}